body{font-family: 'Roboto', sans-serif;}
/* header */
.header .nav-link{color: #000 !important; font-weight: 500;}
.header .nav-link .fa{color: #2196f3!important; margin-right: 5px;}
.header .nav-item{padding-left: 24px;}
.header .logo{padding-bottom: 29px;}
/* end header */

/* menu */
.menu .bg-light{background-color: #2196f3 !important;}
.menu .nav-link{color: #fff !important;}
.menu .nav-item{margin-right: 25px;}
.menu .nav-item.active, .menu .nav-item:hover .nav-link{background-color: rgba(255,255,255,.1); color: #fff;}
.menu form .fa{color: #fff !important;}
.menu.active-menu{position: fixed; top: 0; left: 0; z-index: 100; width: 100%; transition: 0.4s; -webkit-animation: 0.4s;}
/* end menu */

/* content */
.content table{border: 1px solid #ccc; border-collapse: collapse; margin: 0; padding: 0; width: 100%; table-layout: fixed;}
.content table caption{font-size: 1.5em; margin: .5em 0 .75em;}
.content table tr{background-color: #f8f8f8; border: 1px solid #ddd; padding: .35em;}
.content table th, table td{padding: .625em; text-align: center;}
.content table th{font-size: .85em; letter-spacing: .1em; text-transform: uppercase;}
.content table td img:nth-child(1){width: 100%;}
.content table caption{padding-top: .75rem; padding-bottom: .75rem; color: #6c757d; text-align: left; caption-side: top;}
.content .checkout .sum{font-size: 1.5em;}
.content .checkout div:nth-child(2){font-size: 1.5em; color: red; font-weight: 700;}
/* end content */

/* footer */
.footer-v1 a{text-decoration: none;}
.footer-v1.bg-img{background-color: #3e4551!important; background-repeat: repeat;}
.footer-v1 .headline{display: block; margin: 10px 0 25px 0; border-bottom: 1px dotted #e4e9f0; color: white; font-size: 20px;}
.footer-v1 .headline p{margin: 0 0 -2px 0; padding-bottom: 5px; display: inline-block; border-bottom: 2px solid #7e57c2;}
.footer-v1 .link-list > li{padding: 7px 0px;}
.footer-v1 .link-list > li > a , .link-list > li> i{color:#eee; font-size: 16px;}
/* end footer */

/* back-to-top */
.back-to-top .fa{font-size: 30px; border: 1px solid #f9f9f9; border-radius: 50%; padding: 20px; cursor: pointer; background-color: silver; position: fixed; bottom: 20px; right: 20px;}
/* end back-to-top */


/* responsive */

@media screen and (max-width: 800px){
    .content table{border: 0;}
    .content table caption{font-size: 1.3em;}
    .content table thead{border: none; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px;}
    .content table tr{border-bottom: 3px solid #ddd; display: block; margin-bottom: .625em;}
    .content table td{border-bottom: 1px solid #ddd; display: block; font-size: .8em; text-align: right;}
    .content table td::before{content: attr(data-label); float: left; font-weight: bold; text-transform: uppercase;}
    .content table td:last-child{border-bottom: 0;}
}